LOCAL_RPC_URL=http://127.0.0.1:8547
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
NEXT_PUBLIC_BOSS_POOL_LOCAL_RPC_URL=http://127.0.0.1:8547
NEXT_PUBLIC_BOSS_POOL_BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
NEXT_PUBLIC_BOSS_FACTORY_BASE_SEPOLIA_ADDRESS=
